h1 {
  color: indigo;
  font-size: 60px;
  font-family: Georgia;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: darkorange;
  padding-top: 20px;
}

body {
  text-align: center;
  background-color: palegoldenrod;
}
a {
  font-family: Gill Sans MT;
  font-size: 40px;
  text-decoration: salmon;
  color: darkblue;
  list-style: georgian;
}

#id001 {
  display: block;
}
#id002 {
  display: block;
}
a:hover {
  color: darkred;
  font-style: italic;
}
